<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1> Welcome to facebook.com, <%= @user.name %></h1>
        <p>
            You have successfuly signed up to facebook.com,
            your username is: <%= user.login %>.<br />
        <p>
        <p>
            To login to the site, just follow this link: <%= @ur l%>.
        </p>
        <p> Thanks for joing and have a great day!<p>
    </body>
</html>